* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    position: sticky;
    top:0px;
    z-index: 2;
}

header, ul {
    background-color: #ece4cd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.nav2 {
    display: none;
}

.boton {
    background-color: #ece4cd;
    color: #3b529e;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
}

nav {
    width: 50%;
}

header img {
    margin: 7px 7px;
}

h1,h2 {
    margin-top: 10px;
    color: #3b529e;
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.vendidoP {
    margin-left: 25px;
}

.tamanio {
    width: 55%;
}
.carousel-img {
    width: 100%;
    height: 800px;
}

.ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.masVendido, .categorias-padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}


.categorias-hijo {
    display: grid;
    grid-template-areas:
    "categorias-hijo-item1" "categorias-hijo-item2" "categorias-hijo-item3"
    "categorias-hijo-item4" "categorias-hijo-item5" "categorias-hijo-item6";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    width: 100%;
}

.carousel-control-next-icon {
    background-image: url(../imagenes/flecha.png);
}
.carousel-control-prev-icon {
    background-image: url(../imagenes/flecha.png);
    transform: rotate(-180deg);
}

.cat-item {
    width: 100%;
    height: 100%;
}

.item-a {
    width: 100%;
    height: 100%;
}
.categoria-imagen {
    width: 200px;
    height: 200px;
}

.productos {
    display: flex;
    width: 100%;
}

.producto-item{
    width: 33%;
    height: 400px;
    margin: 3%;
}

.producto-item-img {
    width: 100%;
    height: 100%;
}

.item-a{
    display: flex;
    align-items: center;
    justify-content: center;
}



ul {
    list-style-type: none;
    justify-content: space-around;
    margin: 7px 7px;
}

.item1 {
    background-image: url("../imagenes/producto1.png");
}
.item2 {
    background-image: url("../imagenes/producto2.png");
}

.item3 {
    background-image: url("../imagenes/producto3.png");
}


a {
    color: #3b529e;
    font-size: 21px;
    font-weight: bold;
}

a:link, a:visited, a:active {
    text-decoration:none;
}


.footer-logo {
    width: 30px;
    height: 30px;
}

.logo-X, .logo-IG {
    margin-left: 5%;
}

footer {
    background-color: #ece4cd;
    margin-top: 20px;
}

.footer-container, .footer-cl, .contactanos, .cuenta {
    display: flex;
    justify-content: space-between;   
}


p {
    color: #384d92;
}

.p-horarios {
    margin-left: 20%;
}

.personas{
    width: 100%;
}







/* MI CUENTA HTML */

.cuenta {
    display: flex;
}


.cuenta {
    padding: 4.5%;
}

.login, .crearCuenta {
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
}

.login-text2 {
    font-size: 18px;
    font-weight: 600;
}

.login-text {
    color: #3b529e;
    font-size: 20px;
    font-weight: bold;
}



.footer-miCuenta {
    position: absolute;
    bottom: 0;
}





@media only screen and (max-width: 1300px) {


nav {
    width: 70%;
}
.tamanio {
    width: 70%;
}

.carousel-img {
    width: 100%;
    height: 700px;
}

}

@media only screen and (max-width: 1036px) {

    .tamanio {
        width: 55%;
    }
    
    .carousel-img {
        width: 100%;
        height: 500px;
    }


    .categorias-hijo {
        display: grid;
        grid-template-areas:
        "categorias-hijo-item1" "categorias-hijo-item2"
        "categorias-hijo-item3" "categorias-hijo-item4"
        "categorias-hijo-item5" "categorias-hijo-item6";
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        width: 100%;
    }

    .categoria-imagen {
        width: 150px;
        height: 150px;
    }

    h1,h2 {
        font-size: 2.2rem;
    }

}

@media only screen and (max-width: 990px) {

    .tamanio {
        width: 45%;
    }
    
    .carousel-img {
        height: 350px;
    }
    .producto-item{
        height: 280px;
    }

    nav {
        display: none;
    }
    .nav2 {
        display: contents;
    }
    h1,h2 {
        font-size: 1.8rem;
    }
    
    .categorias-padre {
        padding: 50px;
    }
}


@media only screen and (max-width: 750px) {

    .tamanio {
        width: 60%;
    }

    .carousel-img {
        height: 400px;
    }

    .producto-item{
        height: 200px;
    }
    h3, .logo {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 652px) {

    .tamanio {
        width: 60%;
    }

    .carousel-img {
        height: 400px;
    }

    .producto-item{
        height: 200px;
    }

    .categorias-hijo {
        display: grid;
        grid-template-areas:
        "categorias-hijo-item1"
        "categorias-hijo-item2"
        "categorias-hijo-item3"
        "categorias-hijo-item4"
        "categorias-hijo-item5"
        "categorias-hijo-item6";
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
    }

    .categoria-imagen {
        width: 120px;
        height: 120px;
    }
    .vendidoP {
        font-size: 13px;
    }

    h3 {
        font-size: 20px;
    }

    .item-ul {
        margin: 0px 0px;
    }

    .login-text2 {
        font-size: 14px;
    }
    
    .login-text {
        font-size: 17px;
    }

    .cuenta {
        padding: 0px;
    }

}


@media only screen and (max-width: 480px) {

    .tamanio {
        width: 50%;
    }

    .carousel-img {
        height: 250px;
    }

    .producto-item{
        height: 150px;
    }

    .vendidoP {
        font-size: 11px;
    }

    .logo {
        margin-left: 0px;
    }

    h3 {
        font-size: 15px;        
    }

    .login-text2 {
        font-size: 11px;
    }
    
    .login-text {
        font-size: 14px;
    }
    .ingresar-text {
        font-size: 25px;
    }
    
}


@media only screen and (min-width: 320px) and (max-width: 440px) {


    .header-logo {
        width: 150px;
    }

    .boton {
        width: 100px;
        padding: 0px;
    }
    a {
        font-size: 15px;
    }
    .p-horarios {
        margin-left: 0%;
    }

    .tamanio {
        width: 70%;
    }

    .carousel-img {
        height: 260px;
    }

    .producto-item{
        height: 100px;
    }

    .vendidoP {
        font-size: 9px;
    }
    h1,h2 {
        font-size: 1.5rem;
    }
    .item-ul {
        margin: 0px 0px;
    }

    h3 {
        margin-left: 0px;
    }
    .h3-ac, .p-horarios {
        margin-left: 27px;
    }

    .footer-logo {
        width: 25px;
        height: 25px;
    }

    footer {
        margin-top: 0px;
    }
}


