@media only screen and (max-width: 1300px) {
    header {
        nav {
            width: 70%;
        }
    }

    .ofertas {
        .tamanio {
            width: 70%;
        }
        .carousel-img {
            width: 100%;
            height: 700px;
        }
    }

}


@media only screen and (max-width: 1036px) {

    .ofertas {
        .tamanio {
            width: 55%;
        }
        .carousel-img {
            width: 100%;
            height: 500px;
        }
        h1 {
            font-size: 2.2rem;
        }
    }

    .categorias-padre {
        h2 {
            font-size: 2.2rem;
        }
        .categorias-hijo {
            display: grid;
            grid-template-areas:
            "categorias-hijo-item1" "categorias-hijo-item2"
            "categorias-hijo-item3" "categorias-hijo-item4"
            "categorias-hijo-item5" "categorias-hijo-item6";
        
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr ;
            width: 100%;

            .cat-item{
                .item-a{
                    .categoria-imagen {
                        width: 150px;
                        height: 150px;
                    }
                }

            }

        }
    }
    .masVendido {
        h2 {
            font-size: 2.2rem;
        }
    }
}

@media only screen and (max-width: 990px){
    

    .footer-miCuenta {
        position: relative;
        bottom: 0;
    }


    .ofertas {
        .tamanio {
            width: 45%;
        }
        .carousel-img {
            height: 350px;
        }
    }


    .masVendido{
        .productos {
            .producto-item {
                height: 280px;
            }
        }
    }

    

    header {
        nav {
            display: none;
        }
        .nav2 {
            display: contents;
        }
    }


    .miCarrito-misProductos{
        @include tipoLetra(10px, #3b529e, 1.8rem, bold);
        margin-left:1%;
    }

    .ofertas {
        h1 {
            font-size: 1.8rem;
        }
    }
    .masVendido {
        h2 {
            font-size: 1.8rem;
        }
    }

    .categorias-padre {
        h2 {
            font-size: 1.8rem;
        }
        padding: 50px;
    }
    section{
        .contactanos {
            margin-top: 0%;
        }
    }

    .container{
        .cuenta {
            flex-direction: column;
            align-items: center;


            .login-text2{
                text-align: center;
            }


                .login{
                    display: contents;
                    form{
                        align-items: center;
                        input{
                            width: 100%;
                        }
                    }
                }
                .crearCuenta{
                    width: 100%;
                    display: contents;
                }
        }
    }
    

    .sobre-nosotros{
        .nosotros {
            background-size: contain;
            height: 400px;
        }
    }
    
}

@media only screen and (max-width: 750px) {
    .ofertas {
        .tamanio {
            width: 60%;
        }
        .carousel-img {
            height: 400px;
        }
    }

    .masVendido{
        .productos {
            .producto-item {
                height: 200px;
            }
        }
    }

    .footer-container {
        .footer-logos{
            .logo {
                margin-left: 20px;
            }
        }
        .footer-cl{
            .footer-cl-item{
                h3 {
                    margin-left: 20px;
                }
            }
        }

    }
    section{
        .contactanos {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .direccion{
                width: 100%;
            }

            .login-text2 {
                font-size: 22px;
            }
            
            .login-text {
                font-size: 18px;
            }
            .datos{
                width: 70%;
                form{
                    input{
                        width: 100%;
                    }
                    textarea {
                        height: 150px;
                        width: 100%;
                    }
                }
               
            }
        }
    }
    .productos{
        .carrito{
            .carrito-productos{
                .carrito-productos-div{
                    .carrito-productos-img{
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
    }

    .footer-contactanos {
        position: relative;
    }
    .sobre-nosotros{
        .div-video{
              iframe {
                height: 350px;
            }
        }
    }
    .container{
        .login-text{
            font-size: 22px;
        }
        
        .login-text2{
            font-size: 16px;
        }
    }
}


@media only screen and (max-width: 652px){
    .categorias-padre {
        .categorias-hijo {
            display: grid;
            grid-template-areas:
            "categorias-hijo-item1"
            "categorias-hijo-item2"
            "categorias-hijo-item3"
            "categorias-hijo-item4"
            "categorias-hijo-item5"
            "categorias-hijo-item6";
        
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .cat-item{
                .item-a{
                    .categoria-imagen {
                        width: 120px;
                        height: 120px;
                    }
                }

            }

        }
    }

    .masVendido{
        .productos{
            .producto-item{
                .vendidoP{
                    font-size: 13px;
                }
            }
        }
    }
    .footer-container {
        .footer-cl{
            .footer-cl-item{
                h3 {
                    margin-left: 20px;
                }
            }
            .item-ul{
                margin: 0px 0px;
            }
        }

    }
    .productos{
        .carrito{
            .carrito-productos{
                .carrito-productos-div{
                    .carrito-productos-img{
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
        .pagos{
            .login-text2 {
                font-size: 14px;
            }
            
            .login-text {
                font-size: 17px;
            }
        }
    }
    .footer-contactanos {
        position: absolute;
    }

    .sobre-nosotros{
        .nosotros {
            height: 250px;
        }
        .container{
            .login-text2 {
                font-size: 14px;
            }
            
            .login-text {
                font-size: 17px;
            }
        }
    }

}


@media only screen and (max-width: 480px){
    .ofertas {
        .tamanio {
            width: 50%;
        }
        .carousel-img {
            height: 250px;
        }
    }

    .masVendido{
        .productos {
            .producto-item {
                height: 150px;
            }
        }
    }

    .masVendido{
        .productos{
            .producto-item{
                .vendidoP{
                    font-size: 11px;
                }
            }
        }
    }

    
    .footer-container {
        .footer-logos{
            .logo {
                margin-left: 0px;
            }
        }
        .footer-cl{
            .footer-cl-item{
                h3 {
                    margin-left: 15px;
                }
            }
        }
    }


        .productos{
            .carrito{
                .carrito-productos{
                    .carrito-productos-div{
                        .carrito-productos-img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
            .pagos{
                .login-text2 {
                    font-size: 11px;
                }
                
                .login-text {
                    font-size: 14px;
                }
                .pagos-img{
                    width: 300px;
                    height: 80px;

                }
            }
        }
        .footer-contactanos {
            position: relative;
        }

        
        .sobre-nosotros{
            .nosotros {
                height: 150px;
            }
            .container{
                .login-text2 {
                    font-size: 11px;
                }
                
                .login-text {
                    font-size: 14px;
                }
            }
            .div-video{
                iframe {
                  height: 250px;
              }
          }
        }
        .container{
            .ingresar-text{
                font-size: 30px;
            }

        }


}


@media only screen and (min-width: 320px) and (max-width: 440px) {
    header {
        .header-logo {
            width: 150px;
        }
        .nav2{
            .boton{
                width: 100px;
                padding: 0px;
            }
        }
    }

    .ofertas {
        h1 {
            font-size: 1.5rem;
        }
        .tamanio {
            width: 70%;
        }
        .carousel-img {
            height: 260px;
        }
    }


    .categorias-padre {
        margin-top: 50px;
        h2 {
            font-size: 1.5rem;
        }
    }

    .masVendido{
        h2 {
            font-size: 1.5rem;
        }
        .productos {
            .producto-item {
                height: 100px;
            }
        }
    }


    .productos {
        .vendidoP {
            font-size: 9px;
        }
        .carrito{
            .pagos{
                .pagos-img {
                    width: 300px;
                    height: 80px;
                }
            }
        }
    }



    footer {
        margin-top: 0px;
        .footer-container {
            p {
                font-size: 11px;
            }

            .footer-cl{
                .footer-cl-item{
                    .p-horarios {
                        margin-left: 0%;
                    }
                    h3 {
                        margin-left: 0px;
                    }
                }
                .item-ul{
                    margin: 0px 0px;
                }
            }
    
        }
    }

    section{
        .contactanos {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .direccion{
                width: 100%;
                div {
                    iframe{
                        height: 400px;
                    }
                }
            }

            .login-text2 {
                font-size: 17px;
            }
            
            .login-text {
                font-size: 18px;
            }
            .datos{
                width: 70%;
                form{
                    input{
                        width: 100%;
                    }
                    textarea {
                        height: 150px;
                        width: 100%;
                    }
                }
               
            }
        }
    }
    

}